//- categories: premium, free, special, custom, favorite, essential, nonlettering
-
    var brushes = [
            {url: "https://www.etsy.com/listing/484101251/grunge-procreate-lettering-brush-set-3", cat: ["premium", "custom", "favorite", "new"], img: "Grungeset"},
            {url: "https://www.etsy.com/listing/470606262/line-accent-procreate-lettering-brush", cat: ["premium", "custom", "favorite", "new"], img: "lineaccentset"},
            {url: "https://www.etsy.com/listing/470604802/subtle-accent-procreate-lettering-brush", cat: ["premium", "custom", "new"], img: "Subtleaccentset"},
            {url: "https://www.etsy.com/listing/470603944/flat-brush-procreate-lettering-brush-set", cat: ["premium", "custom", "new"], img: "Flatset"},
            {url: "http://bit.ly/2cRvjwa", cat: ["free"], img: "Paper"},
            {url: "http://bit.ly/2e0GaUT", cat: ["free", "special", "custom"], img: "Royal"},
            {url: "http://bit.ly/2cSaifZ", cat: ["free", "special", "custom"], img: "Waves"},
            {url: "http://bit.ly/2cRvF66", cat: ["free", "special", "custom"], img: "Midnight"},
            {url: "http://bit.ly/2dslzXy", cat: ["free", "special", "custom"], img: "Scribble"},
            {url: "http://bit.ly/2d2fzVB", cat: ["free", "special", "custom"], img: "Wither"},
            {url: "https://www.etsy.com/listing/480365147/watercolor-procreate-lettering-brush-set", cat: ["premium", "custom", "special", "favorite", "essential"], img: "Watercolorset"},
            {url: "https://www.etsy.com/listing/466869882/carbon-procreate-lettering-brush", cat: ["premium", "custom", "special", "favorite", "essential"], img: "Carbon"},
            {url: "https://www.etsy.com/listing/480363525/highlight-procreate-lettering-brush", cat: ["premium", "custom", "special", "favorite"], img: "Highlight"},
            {url: "http://bit.ly/2d4m8Jh", cat: ["free", "custom", "special"], img: "Vibes"},
            {url: "http://bit.ly/2cKknBX", cat: ["free", "custom"], img: "Squiggle"},
            {url: "http://bit.ly/2cQzEi5", cat: ["free", "custom", "special"], img: "Dyn"},
            {url: "http://bit.ly/2d8JARR", cat: ["free", "custom", "special", "nonlettering"], img: "Stitches"},
            {url: "http://bit.ly/2cQAsUb", cat: ["free", "custom", "nonlettering"], img: "Paperplane"},
            {url: "http://bit.ly/2cxbVm3", cat: ["free", "custom", "favorite", "essential"], img: "Bluntpencil"},
            {url: "http://bit.ly/2cfxI3s", cat: ["free", "custom", "favorite", "essential"], img: "Chalk2"},
            {url: "http://bit.ly/2cDgNoL", cat: ["free", "custom", "special"], img: "Char"},
            {url: "http://bit.ly/2cvrk9V", cat: ["free", "custom"], img: "Charcoal"},
            {url: "http://bit.ly/2ctg3kU", cat: ["free", "custom"], img: "Coal"},
            {url: "http://bit.ly/2cDB3II", cat: ["free", "custom"], img: "Fallout"},
            {url: "http://bit.ly/2cPMLiq", cat: ["free", "custom"], img: "Flick"},
            {url: "http://bit.ly/2ctgH1I", cat: ["free", "custom"], img: "Skip"},
            {url: "http://bit.ly/2cdyHfy", cat: ["free", "custom", "special"], img: "Triangle"},
            {url: "http://bit.ly/2cFQ5u9", cat: ["free", "custom"], img: "Gelliner"},
            {url: "http://bit.ly/2d18tDu", cat: ["free", "custom"], img: "Walnut"},
            {url: "http://bit.ly/2cQ8NUV", cat: ["free", "custom", "special"], img: "Wired"},
            {url: "http://bit.ly/2cxcexh", cat: ["free", "custom"], img: "Waters"},
            {url: "http://bit.ly/2bOCHFX", cat: ["free", "special", "essential", "custom", "custom"], img: "Black"},
            {url: "http://bit.ly/2b6ShPc", cat: ["nonlettering"], img: "Microglitter"},
            {url: "http://bit.ly/2bqX9z5", cat: ["free", "special", "custom", "custom"], img: "Worker"},
            {url: "http://bit.ly/2byqXWx", cat: ["free", "special", "custom"], img: "Shade"},
            {url: "http://bit.ly/2b8MJRs", cat: ["free", "special", "custom"], img: "Ribbon"},
            {url: "https://www.etsy.com/listing/459821070/loose-procreate-lettering-brush", cat: ["premium", "special", "custom"], img: "Loose"},
            {url: "http://bit.ly/2bn9IH8", cat: ["free", "essential", "favorite", "custom"], img: "Ink"},
            {url: "http://bit.ly/2bGSGYv", cat: ["free", "special", "custom"], img: "Fray"},
            {url: "https://www.etsy.com/listing/459821336/accent-procreate-lettering-brush", cat: ["premium", "special", "custom"], img: "Accent"},
            {url: "http://bit.ly/2aHAE8m", cat: ["free", "essential"], img: "Monosmooth"},
            {url: "http://bit.ly/2aMOKks", cat: ["free"], img: "Minimalist"},
            {url: "http://bit.ly/2bblCai", cat: ["free", "essential", "favorite"], img: "Monov"},
            {url: "http://bit.ly/2aHzvh2", cat: ["free", "essential", "favorite"], img: "MoreV"},
            {url: "http://bit.ly/2b3Ewyz", cat: ["free"], img: "Maxv"},
            {url: "https://www.etsy.com/listing/466542841/railroading-procreate-lettering-brush", cat: ["premium", "special", "custom"], img: "Railstracks"},
            {url: "https://www.etsy.com/listing/471527859/whole-procreate-lettering-brush", cat: ["premium", "special", "favorite", "custom"], img: "Whole"},
            {url: "https://www.etsy.com/listing/453052336/tux-procreate-lettering-brush", cat: ["premium", "special", "favorite", "custom"], img: "Tux"},
            {url: "https://www.etsy.com/listing/466539035/tie-procreate-lettering-brush", cat: ["premium", "special", "custom"], img: "Tie"},
            {url: "https://www.etsy.com/listing/453050840/bow-procreate-lettering-brush", cat: ["premium", "special", "custom"], img: "Bow"},
            {url: "https://www.etsy.com/listing/466540121/zipped-procreate-lettering-brush", cat: ["premium", "special", "custom"], img: "Zipped"},
            {url: "https://www.etsy.com/listing/466542209/string-procreate-lettering-brush", cat: ["premium", "special", "favorite", "custom"], img: "String"},
            {url: "https://www.etsy.com/listing/453054452/collier-procreate-lettering-brush", cat: ["premium", "special", "custom"], img: "Collier"},
            {url: "https://www.etsy.com/listing/453053988/chain-procreate-lettering-brush", cat: ["premium", "special", "custom"], img: "Chain"},
            {url: "https://www.etsy.com/listing/471529035/puff-procreate-lettering-brush", cat: ["premium", "special", "favorite", "custom"], img: "Puff"},
            {url: "https://www.etsy.com/listing/458039610/patch-procreate-lettering-brush", cat: ["premium", "special", "favorite", "custom"], img: "Patch"},
            {url: "https://www.etsy.com/listing/458038996/pillow-procreate-lettering-brush", cat: ["premium", "special", "favorite", "custom"], img: "Pillow"},
            {url: "https://www.etsy.com/listing/458037626/stars-procreate-lettering-brush", cat: ["premium", "special", "custom"], img: "Stars"},
            {url: "https://www.etsy.com/listing/453053374/sprinkles-procreate-lettering-brush", cat: ["premium", "special", "favorite", "custom"], img: "Sprinkles"},
            {url: "https://www.etsy.com/listing/453043664/bony-procreate-lettering-brush", cat: ["premium", "special", "custom"], img: "Bony"},
            {url: "https://www.etsy.com/listing/466543481/letter-pen-procreate-lettering-brush", cat: ["premium", "favorite", "essential", "custom"], img: "Letter-pen"},
            {url: "http://bit.ly/2aHAttM", cat: ["free"], img: "Fish"},
            {url: "http://bit.ly/2aMO52o", cat: ["free"], img: "Electric"},
            {url: "http://bit.ly/2bncfou", cat: ["free"], img: "Bleed"},
            {url: "http://bit.ly/2aYIjOC", cat: ["free", "special"], img: "Cloud"},
            {url: "http://bit.ly/2bndcgI", cat: ["free"], img: "Feather"},
            {url: "http://bit.ly/2bblcRn", cat: ["free"], img: "Harsh"},
            {url: "http://bit.ly/2blD4aE", cat: ["free"], img: "Grunge"},
            {url: "http://bit.ly/2bbkXWh", cat: ["free", "special"], img: "Linear"},
            {url: "http://bit.ly/2bbkG5P", cat: ["free", "special"], img: "Stringy"},
            {url: "http://bit.ly/2aRxCvm", cat: ["free"], img: "Imperfect"},
            {url: "http://bit.ly/2aRwPL1", cat: ["free", "favorite", "essential"], img: "Artsy"},
            {url: "http://bit.ly/2b2HO3d", cat: ["free", "special", "custom"], img: "Looney"},
            {url: "http://bit.ly/2aQnRPj", cat: ["free", "favorite"], img: "Lush"},
            {url: "http://bit.ly/2aQCLb5", cat: ["free"], img: "Roundpen"},
            {url: "http://bit.ly/2aRx5tu", cat: ["free", "favorite", "essential", "custom"], img: "Fluff"},
            {url: "http://bit.ly/2aOJD2x", cat: ["free", "custom"], img: "Waterbased"},
            {url: "http://bit.ly/2aRw30z", cat: ["free", "custom"], img: "Hotmess"},
            {url: "http://bit.ly/2blBd5K", cat: ["free", "custom"], img: "Homemade"},
            {url: "http://bit.ly/2aQmqjO", cat: ["free", "custom"], img: "Sharp"},
            {url: "http://bit.ly/2bnuMOv", cat: ["free", "custom"], img: "Starburst"},
            {url: "http://bit.ly/2bbke7s", cat: ["free", "custom"], img: "Pills"},
            {url: "http://bit.ly/2aHzWru", cat: ["free", "custom"], img: "Blur"},
            {url: "http://bit.ly/2aQmPmn", cat: ["free", "special"], img: "Glow"},
            {url: "http://bit.ly/2bnafMS", cat: ["free", "favorite", "essential"], img: "Chalk"},
            {url: "http://bit.ly/2bnOJJm", cat: ["free"], img: "Streaky"},
            {url: "http://bit.ly/2bcg7Fo", cat: ["free", "special"], img: "Double"},
            {url: "http://bit.ly/2aYGWz8", cat: ["free"], img: "Glazed"},
            {url: "http://bit.ly/2aRvzr7", cat: ["free", "special", "favorite"], img: "Shadowed"},
            {url: "http://bit.ly/2blA6mz", cat: ["free"], img: "Mono"},
            {url: "http://bit.ly/2aQlsnO", cat: ["free"], img: "Stiffnib"},
            {url: "http://bit.ly/2aQBctQ", cat: ["free", "essential"], img: "Pointedpen"},
            {url: "http://bit.ly/2bnt7sw", cat: ["free", "essential"], img: "Texturedhc"},
            {url: "http://bit.ly/2bn9qDX", cat: ["free", "favorite"], img: "Smoothhc"}
        ]
