//- categories: premium, free, classic, textured, special, favorite, essential, nonlettering
-
    var brushes = [
            {url: "http://bit.ly/2bOCHFX", cat: ["free", "classic", "special", "essential", "new"], img: "Black"},
            {url: "http://bit.ly/2b6ShPc", cat: ["nonlettering", "new"], img: "Microglitter"},
            {url: "http://bit.ly/2bqX9z5", cat: ["free", "classic", "special"], img: "Worker"},
            {url: "http://bit.ly/2byqXWx", cat: ["free", "classic", "special"], img: "Shade"},
            {url: "http://bit.ly/2b8MJRs", cat: ["free", "classic", "special"], img: "Ribbon"},
            {url: "https://www.etsy.com/listing/459821070/loose-procreate-lettering-brush", cat: ["premium", "classic", "special"], img: "Loose"},
            {url: "http://bit.ly/2bn9IH8", cat: ["free", "classic", "essential", "favorite"], img: "Ink"},
            {url: "http://bit.ly/2bGSGYv", cat: ["free", "classic", "special"], img: "Fray"},
            {url: "https://www.etsy.com/listing/459821336/accent-procreate-lettering-brush", cat: ["premium", "classic", "special"], img: "Accent"},
            {url: "http://bit.ly/2aHAE8m", cat: ["free", "classic", "essential"], img: "Monosmooth"},
            {url: "http://bit.ly/2aMOKks", cat: ["free", "classic"], img: "Minimalist"},
            {url: "http://bit.ly/2bblCai", cat: ["free", "classic", "essential", "favorite"], img: "Monov"},
            {url: "http://bit.ly/2aHzvh2", cat: ["free", "classic", "essential", "favorite"], img: "MoreV"},
            {url: "http://bit.ly/2b3Ewyz", cat: ["free", "classic"], img: "Maxv"},
            {url: "https://www.etsy.com/listing/466542841/railroading-procreate-lettering-brush", cat: ["premium", "special"], img: "Railstracks"},
            {url: "https://www.etsy.com/listing/471527859/whole-procreate-lettering-brush", cat: ["premium", "special", "favorite"], img: "Whole"},
            {url: "https://www.etsy.com/listing/453052336/tux-procreate-lettering-brush", cat: ["premium", "special", "favorite"], img: "Tux"},
            {url: "https://www.etsy.com/listing/466539035/tie-procreate-lettering-brush", cat: ["premium", "special"], img: "Tie"},
            {url: "https://www.etsy.com/listing/453050840/bow-procreate-lettering-brush", cat: ["premium", "special"], img: "Bow"},
            {url: "https://www.etsy.com/listing/466540121/zipped-procreate-lettering-brush", cat: ["premium", "special"], img: "Zipped"},
            {url: "https://www.etsy.com/listing/466542209/string-procreate-lettering-brush", cat: ["premium", "special", "favorite"], img: "String"},
            {url: "https://www.etsy.com/listing/453054452/collier-procreate-lettering-brush", cat: ["premium", "special"], img: "Collier"},
            {url: "https://www.etsy.com/listing/453053988/chain-procreate-lettering-brush", cat: ["premium", "special"], img: "Chain"},
            {url: "https://www.etsy.com/listing/471529035/puff-procreate-lettering-brush", cat: ["premium", "special", "favorite"], img: "Puff"},
            {url: "https://www.etsy.com/listing/458039610/patch-procreate-lettering-brush", cat: ["premium", "special", "favorite"], img: "Patch"},
            {url: "https://www.etsy.com/listing/458038996/pillow-procreate-lettering-brush", cat: ["premium", "special", "favorite"], img: "Pillow"},
            {url: "https://www.etsy.com/listing/458037626/stars-procreate-lettering-brush", cat: ["premium", "special"], img: "Stars"},
            {url: "https://www.etsy.com/listing/453053374/sprinkles-procreate-lettering-brush", cat: ["premium", "special", "favorite"], img: "Sprinkles"},
            {url: "https://www.etsy.com/listing/453043664/bony-procreate-lettering-brush", cat: ["premium", "special"], img: "Bony"},
            {url: "https://www.etsy.com/listing/466543481/letter-pen-procreate-lettering-brush", cat: ["premium", "classic", "favorite", "essential"], img: "Letter-pen"},
            {url: "http://bit.ly/2aHAttM", cat: ["free", "textured"], img: "Fish"},
            {url: "http://bit.ly/2aMO52o", cat: ["free", "textured"], img: "Electric"},
            {url: "http://bit.ly/2bncfou", cat: ["free", "textured"], img: "Bleed"},
            {url: "http://bit.ly/2aYIjOC", cat: ["free", "textured", "special"], img: "Cloud"},
            {url: "http://bit.ly/2bndcgI", cat: ["free", "textured"], img: "Feather"},
            {url: "http://bit.ly/2bblcRn", cat: ["free", "textured"], img: "Harsh"},
            {url: "http://bit.ly/2blD4aE", cat: ["free", "textured"], img: "Grunge"},
            {url: "http://bit.ly/2bbkXWh", cat: ["free", "special"], img: "Linear"},
            {url: "http://bit.ly/2bbkG5P", cat: ["free", "special"], img: "Stringy"},
            {url: "http://bit.ly/2aRxCvm", cat: ["free", "textured"], img: "Imperfect"},
            {url: "http://bit.ly/2aRwPL1", cat: ["free", "textured", "favorite", "essential"], img: "Artsy"},
            {url: "http://bit.ly/2b2HO3d", cat: ["free", "special"], img: "Looney"},
            {url: "http://bit.ly/2aQnRPj", cat: ["free", "textured", "favorite"], img: "Lush"},
            {url: "http://bit.ly/2aQCLb5", cat: ["free", "classic"], img: "Roundpen"},
            {url: "http://bit.ly/2aRx5tu", cat: ["free", "textured", "favorite", "essential"], img: "Fluff"},
            {url: "http://bit.ly/2aOJD2x", cat: ["free", "textured"], img: "Waterbased"},
            {url: "http://bit.ly/2aRw30z", cat: ["free", "textured"], img: "Hotmess"},
            {url: "http://bit.ly/2blBd5K", cat: ["free", "textured"], img: "Homemade"},
            {url: "http://bit.ly/2aQmqjO", cat: ["free", "classic"], img: "Sharp"},
            {url: "http://bit.ly/2bnuMOv", cat: ["free", "textured"], img: "Starburst"},
            {url: "http://bit.ly/2bbke7s", cat: ["free", "textured"], img: "Pills"},
            {url: "http://bit.ly/2aHzWru", cat: ["free", "textured"], img: "Blur"},
            {url: "http://bit.ly/2aQmPmn", cat: ["free", "special"], img: "Glow"},
            {url: "http://bit.ly/2bnafMS", cat: ["free", "textured", "favorite", "essential"], img: "Chalk"},
            {url: "http://bit.ly/2bnOJJm", cat: ["free", "textured"], img: "Streaky"},
            {url: "http://bit.ly/2bcg7Fo", cat: ["free", "special"], img: "Double"},
            {url: "http://bit.ly/2aYGWz8", cat: ["free", "textured"], img: "Glazed"},
            {url: "http://bit.ly/2aRvzr7", cat: ["free", "special", "favorite"], img: "Shadowed"},
            {url: "http://bit.ly/2blA6mz", cat: ["free", "classic"], img: "Mono"},
            {url: "http://bit.ly/2aQlsnO", cat: ["free", "classic"], img: "Stiffnib"},
            {url: "http://bit.ly/2aQBctQ", cat: ["free", "classic", "essential"], img: "Pointedpen"},
            {url: "http://bit.ly/2bnt7sw", cat: ["free", "classic", "essential"], img: "Texturedhc"},
            {url: "http://bit.ly/2bn9qDX", cat: ["free", "classic", "favorite"], img: "Smoothhc"}
        ]
